
  
  aside {
    width: 185px;
    height: 1500px;
    background-color: #292c2f;
    border: 1px solid white;
    border-radius: 30px;
    float:left;
    padding:5px;
    margin: 30px;
  }

#aside1 {
    width: 185px;
    height: 1500px;
    background-color: #292c2f;
    border: 1px solid white;
    border-radius: 30px;
    float:right;
    padding:5px;
    margin: 30px;
  }
  
#asideinleft{
    width: 150px;
    height: 260px;
    background-color: #292c2f;
    border: 1px solid white;
    border-radius: 30px;
    float:left;
    padding:5px;
    margin: 12px;
    margin-top: 20px;
    color: white;
}

#asideinright{
    width: 150px;
    height: 260px;
    background-color: #292c2f;
    border: 1px solid white;
    border-radius: 30px;
    float:right;
    padding:5px;
    margin: 12px;
    margin-top: 20px;
    color: white;
}
