body{
    background-color: burlywood;
    
}
section{
    color:white;
}

#header{
    height: 100px;
    margin-bottom: 0px;
    margin: auto;
}

img{
    opacity: 80%;
    border-radius: 100px;
}

#cím{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
nav {
    border: solid white 1px;
    margin-bottom: 5%;

}
body {
    background-image: url(https://images.wallpaperscraft.com/image/single/wall_concrete_gray_176166_1920x1080.jpg);
    margin: 0%;

}
footer a:hover {
    color: grey;
}
footer a {
    color: white;

}
footer {
    color: white;
    border: solid white 1px;
    padding: 0px;
    margin-top: 5%;}

#xbox{
    width: 100px;
    height: 100px;
}

#ps{
    width: 150px;
    height: 100px;
    margin-left: -40px;
}


