body {
    background-image: url(https://images.wallpaperscraft.com/image/single/wall_concrete_gray_176166_1920x1080.jpg); 
    margin: 0%;
    padding: 0%;
    
}
section{
    color:white;

    padding: 10px;
   
}

#header{
    
    margin-bottom: 0px;
    margin: auto;
}



footer{
    margin-left: 2%;
    margin-right: 2%;
}



#cím{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    margin-top: 5%;
}



footer a:hover {
    color: grey;
}
footer a {
    color: white;

}
footer {
    color: white;
    border: solid white 1px;
    padding: 0px;
    margin-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5%;
}
    
#xbox{
    width: 100px;
    height: 100px;
}

#ps{
    width: 140px;
    height: 100px;
    

}

.psimg{
        width: 30%;

}

.center{
    width: 40%;
}
#függöseg{
    width: 546px;
    border-radius: 10%;
    
}

#fo1{
    
    width: 400px;
    height: 200px;
}

#fo2{
    width: 400px;
    height: 240px;
}

#kutatas{
    /* background-image: url(https://static.displate.com/280x392/displate/2022-12-19/2457bc78d58a43f21db8e530ea18cfeb_28fff654911313d377f54d4d65b99ffd.jpg ); */
    background-color: #292c2f;
    border: 1px solid red;
    border-radius: 30px;
    margin-bottom: 16px;

}

#betegseg{
    background-color: #292c2f;
    border: 1px solid red;
    border-radius: 30px;
    margin-bottom: 16px;

}

.keret
{
    padding-top: 5rem;
    border: 1px solid red;
    
}
#függöseg{
    padding-top: 7rem;}

#függöseg2{
        padding-top: 12rem;}

@media screen and (max-width: 1700px) {
    #függöseg{
        padding-top: 7rem;
    }
    #függöseg2{
        padding-top: 12rem;
    }
}

@media screen and (max-width: 1350px) {
    #függöseg{
        padding-top: 10rem;
    }
    #függöseg2{
        padding-top: 20rem;
    }
}

@media screen and (max-width: 1199px) {
    #függöseg{
        padding-top: 0rem;
    }
    #függöseg2{
        padding-top: 0rem;
    }
    #függöseg3{
        width: 0px;
    }
}

@media screen and (max-width: 992px) {
    aside, aside *{
        visibility: hidden;
        height: 0px;
        width: 0px;
    }
    .keret{
        padding-top: 10rem;
    }
   
}

@media screen and (max-width: 768px) {

    .keret{
        padding-top: 0rem;
    }
}
@media screen and (max-width: 680px) {

    #ps , #xbox{
        width: 0px;
        margin-top: -100px;
    }
}



section{
    margin-left: 15%;
    margin-right: 15%;
}



#szoveg{
    font-family:'Courier New', monospace; 
    border: 1px solid white;
    background-color: #292c2f;
    padding: 5%;
    border-radius: 20px;
}


























